table {
  padding: 0;
  font-size: 1rem;
  line-height: 1.45rem;
  border-collapse: collapse;
  width: 100%;
}

table {
  width: 100%;
  max-width: 100%;
  margin-bottom: 20px;
}

td, th, thead {
  text-align: left;
}

td, th {
  border-bottom: 1px solid rgba(0,0,0,.12);
  font-feature-settings: "tnum";
  -moz-font-feature-settings: "tnum";
  -ms-font-feature-settings: "tnum";
  -webkit-font-feature-settings: "tnum";
  padding: .725rem .96667rem calc(.725rem - 1px);
}

/* td:first-child, th:first-child {
  padding-left: 0;
}

td:last-child, th:last-child {
  padding-right: 0;
} */

tbody>tr:nth-of-type(odd) {
  background-color: #f9f9f9;
}

table > caption + thead > tr:first-child>th,
table > colgroup + thead > tr:first-child>th,
table > thead:first-child > tr:first-child>th,
table > caption + thead > tr:first-child>td,
table > colgroup + thead > tr:first-child>td,
table > thead:first-child > tr:first-child > td {
  border-top: 0;
}

table > thead > tr > th,
table > tbody > tr > th,
table > tfoot > tr > th,
table > thead > tr > td,
table > tbody > tr > td,
table > tfoot > tr > td {
  padding: 8px;
  line-height: 1.42857143;
  vertical-align: top;
  border-top: 1px solid #ddd;
}

table code,
table tt {
  background-color: rgba(0,0,0,.04);
  border-radius: 3px;
  font-family: SFMono-Regular,Consolas,Roboto Mono,Droid Sans Mono,Liberation Mono,Menlo,Courier,monospace;
  padding: 0;
  padding-top: .2em;
  padding-bottom: .2em;
}
